* {
    margin: 0;
    padding: 0;
  }
  #bg-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
  }
  @media (max-width: 750px) {
    #bg-video{
       display: none;
    } 
    body {
       background: url("../assets/compare.mp4")no-repeat;
       background-size: cover;
    }
  }
  .compare{
    margin-top: 90px;
    position: relative;
    overflow-x: hidden;
  }
  
  /*----------------------------table-section--------------------------------------------*/
.table{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 18px;
} 
td img{
  height: 300px;
  width: 300px;
}
/*----------------------table-section-end---------------------------------------------*/

.heading {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 80px;
}

.heading div {
  margin-right: 20px;
  width: 430px;
  border: 4px solid rgb(5, 18, 131);
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  background-image: url('../assets/top.png');
  width: 38px;
  height: 38px;
}